
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #22254b;
    color: #fff;
    font-family: "poppins",sans-serif;
}

header {
    
}

.movie_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.movie {
    position: relative;
    width: 300px;
    margin: .5rem;
    border-radius: 3px;
    box-shadow: 3px 3px 5px rgba(0,0,0,.5);
    overflow: hidden;


}

.movie img {
    max-width: 100%;
}

.movie_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
}

.movie_info h3 {
    margin: 0;
}

.movie_over {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #00000080;
    padding: 1rem;
    transform: translateY(100%);
    transition: all .5s ease-in;

}
.movie:hover .movie_over {
    transform: translateX(0);
}